table {
    width: 100%;
  }
  .header-color{
    background-color: #12805C!important;
    color: white;
  }
  th.mat-header-cell{
    color: white;
    font-size: 12px;
  }
  tr.mat-header-row {
    height: 45px!important;
    background-color: #12805C!important;
  }
  td.mat-cell{
    border-left: 1px solid #E0E0E0;
    padding-left: 5px!important;
  }
  td.mat-cell{
    border-right: 1px solid #E0E0E0;
    padding-right: 5px!important;
  }
  .mat-toolbar-footer{
    height: auto!important;
    white-space: pre-wrap!important;
    font-size: 13px;
    line-height: 20px;
    padding: 10px;
}
.title-center {
    margin: 0 auto;
  }