.sidenav {
  width: 250px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
.spacer{
  flex: 1 1 auto;
}
.nav-link{
  text-decoration: none;
  color: white;
  cursor: pointer;
  font-size: 18px!important;
}
i{
  font-size: 38px;
}
a{
  text-decoration: none;
  color: white;
}
.serach-box-text{
  font-size: 15px;
  width: 100%;
  background: white;
  color: black;
}
.serach-box{
  width: 100%;
  padding-right: 10px;
}
.serch-box-div{
  position: relative;
  color: black;
  padding-left: 10%;
}
.navbar-link{
  padding: 8px;
  text-decoration: none;
}
.search-icon{
  position: absolute;
  right:  10px;
  top: 7px;
  color: black;
}
.tiny-dropdown{
  max-width: 20px;
}
#searchBox{
  border-radius: 30px;
}
.nav-image{
  height: 50px;
  width: 50px;
  border-radius: 50px;
}
.nav-image-btn{
  height: 50px;
  width: 50px;
  outline: none;
  background: inherit;
  border: 0px;
}



